[Unit]
Description=Prometheus Server
Documentation=https://prometheus.io/docs/introduction/overview/
After=network-online.target

[Service]
User=<user>
Restart=on-failure

ExecStart=/opt/prometheus/prometheus \
  --storage.agent.path=/tmp/data-agent/ \
  --enable-feature=agent \
  --config.file=/opt/prometheus/prometheus.yml

[Install]
WantedBy=multi-user.target

